streamlit
yfinance
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
requests
beautifulsoup4
lxml
ta

pdfplumber
sentence-transformers
faiss-cpu

transformers
torch
tensorflow

langchain
langgraph
langchain-community
langchain-google-genai
langchain-openai
langchain-groq